/.alpha-raptor/
/target/
/target-*/
/.vscode/
/*.code-workspace
/Dockerfile
/docker-compose.yml
/paper-figures/

/data/osm/*.pbf
/data/osm/*.osm
/data/osm/*.osm.pbf
/data/gtfs/*.zip

/*.static.bin
/*.static.v*.bin
/*.hydra.data.bin
/*.hydra.index.bin
/*.walker.bin
/*.hpf.bin
/*.cold.db/
.bin